<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <style>
            .led {
                height: 250px;
                width: 250px;
                background-color: grey;
                border-radius: 50%;
                display: inline-block;
                margin: 5rem;
            }
            .ctr_btn {
                height: 250px;
                width: 250px;
                background-color: greenyellow;
                border-radius: 50%;
                display: inline-block;
                margin: 5rem;
            }
        </style>
        <title>Virtual LED</title>
    </head>
    <body>
        <%- include("./includes/nav.ejs") %>

        <div class="container my-3">
            <div class="row">
                <div class="col">
                    <p class="text-primary">.text-primary</p>
                </div>
                <div class="col">
                    <span class="led" id="led"></span>
                </div>
                <div class="col">
                    <span class="ctr_btn" id="btn"></span>
                </div>
            </div>
        </div>

        <script>
            const socket = io("http://35.228.251.153/");
            socket.on("connection");

            socket.on("message", (data) => {
                document.querySelector("p").innerHTML = data;
		//console.log(data);
		//console.log(typeOf(data));
                if (data == 1) {
                    document.getElementById("led").style.backgroundColor =
                        "red";
                } 
		if(data == 0) {
                    document.getElementById("led").style.backgroundColor =
                        "grey";
                }
            });

            const sendMessage = () => {
                const messageInput = document.querySelector(".message");
                const message = messageInput.value;
                socket.emit("message", message);
            };
        </script>
    </body>
</html>
